:host ::ng-deep {
  .p-menubar .p-menubar-end {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .search-bar{
    width: 100%
  }
  .search-form{
    width: 40%
  }
}
